<h2 mat-dialog-title>CREATE NEW PRESALE RESOURCE DATA</h2>
  <mat-dialog-content [formGroup]="ps_myForm" class="example-container">

    <mat-form-field>
      <input matInput placeholder="Presale Resource ID" formControlName="ps_id" name="ps_id" id="ps_id">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Presale Resource Name" type="text" formControlName="ps_name" name="ps_name"
        id="ps_name" required>
        <mat-error *ngFor="let validation of validation_messages.ps_name">
          <mat-error class="error-message"
            *ngIf="ps_myForm.get('ps_name').hasError(validation.type)&&(ps_myForm.get('ps_name').dirty||ps_myForm.get('ps_name').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Presale Resource Position" type="text" formControlName="ps_position" name="ps_position"
        id="ps_position" required>
        <mat-error *ngFor="let validation of validation_messages.ps_position">
          <mat-error class="error-message"
            *ngIf="ps_myForm.get('ps_position').hasError(validation.type)&&(ps_myForm.get('ps_position').dirty||ps_myForm.get('ps_position').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Presale Resource Name 2" type="text" formControlName="ps_name2" name="ps_name2"
        id="ps_name2" required>
        <mat-error *ngFor="let validation of validation_messages.ps_name2">
          <mat-error class="error-message"
            *ngIf="ps_myForm.get('ps_name2').hasError(validation.type)&&(ps_myForm.get('ps_name2').dirty||ps_myForm.get('ps_name2').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    
  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button color="primary" (click)="createPresaleResource(ps_myForm)" [disabled]="!ps_myForm.valid"
      style="width: fit-content;">Add Presale Resource
    </button>
  <br>
</mat-dialog-actions>