<h2 mat-dialog-title>CREATE NEW STATUS DATA</h2>
  <mat-dialog-content [formGroup]="s_myForm" class="example-container">

    <mat-form-field>
      <input matInput placeholder="Status ID" formControlName="s_id" name="s_id" id="s_id">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Status Name" type="text" formControlName="s_name" name="s_name"
        id="s_name" required>
        <mat-error *ngFor="let validation of validation_messages.s_name">
          <mat-error class="error-message"
            *ngIf="s_myForm.get('s_name').hasError(validation.type)&&(s_myForm.get('s_name').dirty||s_myForm.get('s_name').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    <br>
  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button color="primary" (click)="createStatus(s_myForm)" [disabled]="!s_myForm.valid"
      style="width: fit-content;">Add Status
    </button>
  <br>
</mat-dialog-actions>