<h2 mat-dialog-title>CREATE NEW CUSTOMER DATA</h2>
  
  <mat-dialog-content [formGroup]="c_myForm" class="example-container">

    <mat-form-field>
      <input matInput placeholder="Customer ID" formControlName="c_id" name="c_id" id="c_id">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Customer Name" type="text" formControlName="c_name" name="c_name"
        id="c_name" required>
        <mat-error *ngFor="let validation of validation_messages.c_name">
          <mat-error class="error-message"
            *ngIf="c_myForm.get('c_name').hasError(validation.type)||(c_myForm.get('c_name').dirty||c_myForm.get('c_name').touched)">
            {{validation.message}}</mat-error>
        </mat-error>

    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Short Customer Name" type="text" formControlName="c_sname" name="c_sname"
        id="c_sname">
    </mat-form-field>
    <br>

</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="createCustomer(c_myForm)" [disabled]="!c_myForm.valid"
    style="width: fit-content;">Add Customer</button>
  </mat-dialog-actions>
