<h2 mat-dialog-title>CREATE NEW OPPORTUNITY DATA</h2>
  <mat-dialog-content [formGroup]="op_myForm" class="example-container">

    <mat-form-field>
      <input matInput placeholder="Oppotunity ID" formControlName="op_id" name="op_id" id="op_id">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Opportunity Name" type="text" formControlName="op_name" name="op_name"
        id="op_name" required>
        <mat-error *ngFor="let validation of validation_messages.op_name">
          <mat-error class="error-message"
            *ngIf="op_myForm.get('op_name').hasError(validation.type)||(op_myForm.get('op_name').dirty||op_myForm.get('op_name').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    <br>
  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button color="primary" (click)="createOpportunity(op_myForm)" [disabled]="!op_myForm.valid"
      style="width: fit-content;">Add Opportunity
    </button>
  <br>
</mat-dialog-actions>