table {
    width: 100%;
  }
  
.mat-header-cell.text-center { text-align: center; }

.example-container {
    
    text-align: center;
    overflow: auto;
  }
  
  .example-container > * {
    width:800px;
  }
