<html>

<body>
    <mat-toolbar class="mat-elevation-z8" color="primary" style="height:100px;">
        <div style="font-size: 50px; padding-top: 8px;">Data Manager</div>
        <div style="text-align: right;width: 95%;position:absolute">
          <a routerLink="/">
            <button mat-icon-button matTooltip="Go to Main Page">
              <mat-icon style="font-size: 60px;color:lightseagreen">arrow_back</mat-icon>
            </button>
          </a>
        </div>
      </mat-toolbar>
  <div style="max-width: 1200px;margin: 0 auto">
    
    <br>
    <mat-tab-group mat-align-tabs="center" mat-stretch-tabs class="mat-elevation-z8" (selectedIndexChange)="loadingAllData($event);createForms();" >

      <mat-tab label="Customer">
        <div style="overflow: auto;max-height: 500px;">
          <table mat-table [dataSource]="Icustomer" class="mat-elevation-z8">

            <ng-container matColumnDef="c_id">
              <th mat-header-cell *matHeaderCellDef> Customer ID </th>
              <td mat-cell *matCellDef="let element"> {{element.c_id}} </td>
            </ng-container>

            <ng-container matColumnDef="c_name">
              <th mat-header-cell *matHeaderCellDef> Customer Name </th>
              <td mat-cell *matCellDef="let element"> {{element.c_name}} </td>
            </ng-container>

            <ng-container matColumnDef="c_sname">
              <th mat-header-cell *matHeaderCellDef> Short Customer Name </th>
              <td mat-cell *matCellDef="let element"> {{element.c_sname}} </td>
            </ng-container>

            <ng-container matColumnDef="option" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="text-center"> Options </th>
              <td mat-cell *matCellDef="let element" style="text-align: center">
                <button mat-icon-button color="accent" (click)="selectCustomer(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteCustomer(element.c_id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="c_displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: c_displayedColumns;"></tr>
          </table>

        </div>




        <!-- DATA INPUT -->
        <br>
        <div>
          <form [formGroup]="c_myForm" (ngSubmit)="createOrUpdateCustomer(c_myForm)" class="example-container">

            <mat-form-field>
              <input matInput placeholder="Customer ID" formControlName="c_id" name="c_id" id="c_id">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Customer Name" type="text" formControlName="c_name" name="c_name"
                id="c_name" required>
              <mat-error *ngFor="let validation of validation_messages.c_name">
                <mat-error class="error-message"
                  *ngIf="c_myForm.get('c_name').hasError(validation.type)&&(c_myForm.get('c_name').dirty||c_myForm.get('c_name').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Short Customer Name" type="text" formControlName="c_sname" name="c_sname"
                id="c_sname">
              <mat-error *ngFor="let validation of validation_messages.c_sname">
                <mat-error class="error-message"
                  *ngIf="c_myForm.get('c_sname').hasError(validation.type)&&(c_myForm.get('c_sname').dirty||c_myForm.get('c_sname').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <br>

            <button mat-raised-button color="primary" type="submit" [disabled]="!c_myForm.valid"
              style="width: fit-content;">Add
              Or Update Customer</button>

          </form>
          <br>

        </div>
      </mat-tab>


      <mat-tab label="Opportunity">
        <div style="overflow: auto;max-height: 500px;">
          <table mat-table [dataSource]="Iopportunity" class="mat-elevation-z8">

            <ng-container matColumnDef="op_id">
              <th mat-header-cell *matHeaderCellDef> Opportunity ID </th>
              <td mat-cell *matCellDef="let element"> {{element.op_id}} </td>
            </ng-container>

            <ng-container matColumnDef="op_name">
              <th mat-header-cell *matHeaderCellDef> Opportunity Name </th>
              <td mat-cell *matCellDef="let element"> {{element.op_name}} </td>
            </ng-container>


            <ng-container matColumnDef="option" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="text-center"> Options </th>
              <td mat-cell *matCellDef="let element" style="text-align: center">
                <button mat-icon-button color="accent" (click)="selectOpportunity(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteOpportunity(element.op_id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="op_displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: op_displayedColumns;"></tr>
          </table>

        </div>

        <!-- DATA INPUT -->
        <br>
        <div class="mat-elevation-z8">
          <form [formGroup]="op_myForm" (ngSubmit)="createOrUpdateOpportunity(op_myForm)" class="example-container" style="color:black">

            <mat-form-field>
              <input matInput placeholder="Oppotunity ID" formControlName="op_id" name="op_id" id="op_id">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Opportunity Name" type="text" formControlName="op_name" name="op_name"
                id="op_name" required>
              <mat-error *ngFor="let validation of validation_messages.op_name">
                <mat-error class="error-message"
                  *ngIf="op_myForm.get('op_name').hasError(validation.type)&&(op_myForm.get('op_name').dirty||op_myForm.get('op_name').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <br>

            <button mat-raised-button color="primary" type="submit" [disabled]="!op_myForm.valid"
              style="width: fit-content;">Add
              Or Update Opportunity</button>

          </form>
          <br>

        </div>


      </mat-tab>



      <mat-tab label="Presale Resource">
        <div style="overflow: auto;max-height: 500px;">
          <table mat-table [dataSource]="Ipresale_resource" class="mat-elevation-z8">

            <ng-container matColumnDef="ps_id">
              <th mat-header-cell *matHeaderCellDef> Presale Resource ID </th>
              <td mat-cell *matCellDef="let element"> {{element.ps_id}} </td>
            </ng-container>

            <ng-container matColumnDef="ps_name">
              <th mat-header-cell *matHeaderCellDef> Presale Resource Name </th>
              <td mat-cell *matCellDef="let element"> {{element.ps_name}} </td>
            </ng-container>

            <ng-container matColumnDef="ps_position">
              <th mat-header-cell *matHeaderCellDef> Presale Resource Position </th>
              <td mat-cell *matCellDef="let element"> {{element.ps_position}} </td>
            </ng-container>

            <ng-container matColumnDef="ps_name2">
              <th mat-header-cell *matHeaderCellDef> Presale Resource Name 2 </th>
              <td mat-cell *matCellDef="let element"> {{element.ps_name2}} </td>
            </ng-container>

            <ng-container matColumnDef="option" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="text-center"> Options </th>
              <td mat-cell *matCellDef="let element" style="text-align: center">
                <button mat-icon-button color="accent" (click)="selectPresaleResource(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deletePresaleResource(element.ps_id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="ps_displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: ps_displayedColumns;"></tr>
          </table>

        </div>

        <!-- DATA INPUT -->
        <br>
        <div>
          <form [formGroup]="ps_myForm" (ngSubmit)="createOrUpdatePresaleResource(ps_myForm)" class="example-container">

            <mat-form-field>
              <input matInput placeholder="Presale Resource ID" formControlName="ps_id" name="ps_id" id="ps_id">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Resource Name" type="text" formControlName="ps_name" name="ps_name"
                id="ps_name" required>
              <mat-error *ngFor="let validation of validation_messages.ps_name">
                <mat-error class="error-message"
                  *ngIf="ps_myForm.get('ps_name').hasError(validation.type)&&(ps_myForm.get('ps_name').dirty||ps_myForm.get('ps_name').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Presale Resource Position" type="text" formControlName="ps_position" name="ps_position"
                id="ps_position" required>
              <mat-error *ngFor="let validation of validation_messages.ps_position">
                <mat-error class="error-message"
                  *ngIf="ps_myForm.get('ps_position').hasError(validation.type)&&(ps_myForm.get('ps_position').dirty||ps_myForm.get('ps_position').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Resource Name 2" type="text" formControlName="ps_name2" name="ps_name2"
                id="ps_name2" required>
              <mat-error *ngFor="let validation of validation_messages.ps_name2">
                <mat-error class="error-message"
                  *ngIf="ps_myForm.get('ps_name2').hasError(validation.type)&&(ps_myForm.get('ps_name2').dirty||ps_myForm.get('ps_name2').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <br>

            <button mat-raised-button color="primary" type="submit" [disabled]="!ps_myForm.valid"
              style="width: fit-content;">Add
              Or Update Presale Resource</button>

          </form>
          <br>

        </div>

      </mat-tab>

      <mat-tab label="Product">


        <div style="overflow: auto;max-height: 500px;">
          <table mat-table [dataSource]="Iproduct" class="mat-elevation-z8">

            <ng-container matColumnDef="p_id">
              <th mat-header-cell *matHeaderCellDef> Product ID </th>
              <td mat-cell *matCellDef="let element"> {{element.p_id}} </td>
            </ng-container>

            <ng-container matColumnDef="p_name">
              <th mat-header-cell *matHeaderCellDef> Product Name </th>
              <td mat-cell *matCellDef="let element"> {{element.p_name}} </td>
            </ng-container>

            <ng-container matColumnDef="option" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="text-center"> Options </th>
              <td mat-cell *matCellDef="let element" style="text-align: center">
                <button mat-icon-button color="accent" (click)="selectProduct(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteProduct(element.p_id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="p_displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: p_displayedColumns;"></tr>
          </table>

        </div>

        <!-- DATA INPUT -->
        <br>
        <div>
          <form [formGroup]="p_myForm" (ngSubmit)="createOrUpdateProduct(p_myForm)" class="example-container">

            <mat-form-field>
              <input matInput placeholder="Product ID" formControlName="p_id" name="p_id" id="p_id">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Product Name" type="text" formControlName="p_name" name="p_name" id="p_name" required>
              <mat-error *ngFor="let validation of validation_messages.p_name">
                <mat-error class="error-message"
                  *ngIf="p_myForm.get('p_name').hasError(validation.type)&&(p_myForm.get('p_name').dirty||p_myForm.get('p_name').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <br>

            <button mat-raised-button color="primary" type="submit" [disabled]="!p_myForm.valid"
              style="width: fit-content;">Add
              Or Update Product</button>

          </form>
          <br>

        </div>



      </mat-tab>

      <mat-tab label="Sale">


        <div style="overflow: auto;max-height: 500px;">
          <table mat-table [dataSource]="Isale" class="mat-elevation-z8">

            <ng-container matColumnDef="am_id">
              <th mat-header-cell *matHeaderCellDef> Sale ID </th>
              <td mat-cell *matCellDef="let element"> {{element.am_id}} </td>
            </ng-container>

            <ng-container matColumnDef="am_name">
              <th mat-header-cell *matHeaderCellDef> Sale Name </th>
              <td mat-cell *matCellDef="let element"> {{element.am_name}} </td>
            </ng-container>
            <ng-container matColumnDef="am_email">
              <th mat-header-cell *matHeaderCellDef> Sale Email </th>
              <td mat-cell *matCellDef="let element"> {{element.am_email}} </td>
            </ng-container>

            <ng-container matColumnDef="option" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="text-center"> Options </th>
              <td mat-cell *matCellDef="let element" style="text-align: center">
                <button mat-icon-button color="accent" (click)="selectSale(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteSale(element.am_id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="am_displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: am_displayedColumns;"></tr>
          </table>

        </div>
        <!-- DATA INPUT -->
        <br>
        <div>
          <form [formGroup]="am_myForm" (ngSubmit)="createOrUpdateSale(am_myForm)" class="example-container">

            <mat-form-field>
              <input matInput placeholder="Sale ID" formControlName="am_id" name="am_id" id="am_id">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Sale Name" type="text" formControlName="am_name" name="am_name" id="am_name" required>
              <mat-error *ngFor="let validation of validation_messages.am_name">
                <mat-error class="error-message"
                  *ngIf="am_myForm.get('am_name').hasError(validation.type)&&(am_myForm.get('am_name').dirty||am_myForm.get('am_name').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Sale Email" type="text" formControlName="am_email" name="am_email"
                id="am_email" required>
              <mat-error *ngFor="let validation of validation_messages.am_email">
                <mat-error class="error-message"
                  *ngIf="am_myForm.get('am_name').hasError(validation.type)&&(am_myForm.get('am_name').dirty||am_myForm.get('am_name').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <br>

            <button mat-raised-button color="primary" type="submit" [disabled]="!am_myForm.valid"
              style="width: fit-content;">Add
              Or Update Sale</button>

          </form>
          <br>

        </div>

      </mat-tab>

      <mat-tab label="Status">


        <div style="overflow: auto;max-height: 500px;">
          <table mat-table [dataSource]="Istatus" class="mat-elevation-z8">

            <ng-container matColumnDef="s_id">
              <th mat-header-cell *matHeaderCellDef> Status ID </th>
              <td mat-cell *matCellDef="let element"> {{element.s_id}} </td>
            </ng-container>

            <ng-container matColumnDef="s_name">
              <th mat-header-cell *matHeaderCellDef> Status Name </th>
              <td mat-cell *matCellDef="let element"> {{element.s_name}} </td>
            </ng-container>

            <ng-container matColumnDef="option" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="text-center"> Options </th>
              <td mat-cell *matCellDef="let element" style="text-align: center">
                <button mat-icon-button color="accent" (click)="selectStatus(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteStatus(element.s_id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="s_displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: s_displayedColumns;"></tr>
          </table>

        </div>
        <!-- DATA INPUT -->
        <br>
        <div>
          <form [formGroup]="s_myForm" (ngSubmit)="createOrUpdateStatus(s_myForm)" class="example-container">

            <mat-form-field>
              <input matInput placeholder="Status ID" formControlName="s_id" name="s_id" id="s_id">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Status Name" type="text" formControlName="s_name" name="s_name" id="s_name" required>
              <mat-error *ngFor="let validation of validation_messages.s_name">
                <mat-error class="error-message"
                  *ngIf="s_myForm.get('s_name').hasError(validation.type)&&(s_myForm.get('s_name').dirty||s_myForm.get('s_name').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <br>

            <button mat-raised-button color="primary" type="submit" [disabled]="!s_myForm.valid"
              style="width: fit-content;">Add
              Or Update Status</button>

          </form>

        </div>
        <br>



      </mat-tab>

      <mat-tab label="Type">


        <div style="overflow: auto;max-height: 500px;">
          <table mat-table [dataSource]="Itype" class="mat-elevation-z8">

            <ng-container matColumnDef="t_id">
              <th mat-header-cell *matHeaderCellDef> Type ID </th>
              <td mat-cell *matCellDef="let element"> {{element.t_id}} </td>
            </ng-container>

            <ng-container matColumnDef="t_name">
              <th mat-header-cell *matHeaderCellDef> Type Name </th>
              <td mat-cell *matCellDef="let element"> {{element.t_name}} </td>
            </ng-container>


            <ng-container matColumnDef="option" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="text-center"> Options </th>
              <td mat-cell *matCellDef="let element" style="text-align: center">
                <button mat-icon-button color="accent" (click)="selectType(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteType(element.t_id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="t_displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: t_displayedColumns;"></tr>
          </table>

        </div>

        <!-- DATA INPUT -->
        <br>
        <div>
          <form [formGroup]="t_myForm" (ngSubmit)="createOrUpdateType(t_myForm)" class="example-container">

            <mat-form-field>
              <input matInput placeholder="Type ID" formControlName="t_id" name="t_id" id="t_id">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Type Name" type="text" formControlName="t_name" name="t_name" id="t_name" required>
              <mat-error *ngFor="let validation of validation_messages.t_name">
                <mat-error class="error-message"
                  *ngIf="t_myForm.get('t_name').hasError(validation.type)&&(t_myForm.get('t_name').dirty||t_myForm.get('t_name').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
            <br>

            <button mat-raised-button color="primary" type="submit" [disabled]="!t_myForm.valid"
              style="width: fit-content;">Add
              Or Update Type</button>

          </form>
          <br>

        </div>
      </mat-tab>
    </mat-tab-group>





  </div>




</body>

</html>