<html>

<body>
  <mat-toolbar class="mat-elevation-z8" color="primary" style="height:100px;">
    <div style="font-size: 50px; padding-top: 8px;">PreSale Activity</div>
    <div style="text-align: right;width: 95%;position:absolute">
      <a routerLink="/data">
        <button mat-icon-button matTooltip="Go to Data List Manager">
          <mat-icon style="font-size: 60px;color:lightseagreen">table_chart</mat-icon>
        </button>
      </a>
    </div>
  </mat-toolbar>
  <div style="max-width: 1200px; margin: 0 auto;">
    <!-- -------------------------------------------------- -->






    <!----------------------------->

    <br>

    <mat-form-field style="width: 50%;padding-left:5%">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>


    <mat-form-field style="width: 20%;padding-left:20%">
      <mat-label>Select Column</mat-label>
      <mat-select [formControl]="selecting" multiple>
        <mat-select-trigger>
          <span *ngIf="selecting.value?.length > 1" class="example-additional-selection">
            (Selected {{selecting.value.length}} Columns)
          </span>
        </mat-select-trigger>
        <mat-option value="op_id" disabled>Opportunity ID</mat-option>
        <mat-option *ngFor="let col of displayedColumns2.column_name" [value]="col.key">{{col.value}}</mat-option>
        <mat-option value="option" disabled>option</mat-option>
      </mat-select>
    </mat-form-field>


    <div style="overflow: auto;max-height: 500px;width:100%" class="mat-elevation-z8">


      <table mat-table [dataSource]="FilterData" class="mat-elevation-z8" style="width: 2200px" id="mainTable">

        <ng-container matColumnDef="op_id" sticky>
          <th mat-header-cell *matHeaderCellDef style="width:100px"> Opportunity ID </th>
          <td mat-cell *matCellDef="let element" style="width:100px"> {{element.op_id}} </td>
        </ng-container>

        <ng-container matColumnDef="c_name">
          <th mat-header-cell *matHeaderCellDef style="width:200px"> Customer Name </th>
          <td mat-cell *matCellDef="let element" style="width:200px"> {{element.c_name}} </td>
        </ng-container>

        <ng-container matColumnDef="op_name">
          <th mat-header-cell *matHeaderCellDef style="width:200px"> Opportunity </th>
          <td mat-cell *matCellDef="let element" style="width:200px"> {{element.op_name}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef style="width:100px"> Status </th>
          <td mat-cell *matCellDef="let element" style="width:100px"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="res_1">
          <th mat-header-cell *matHeaderCellDef style="width:100px"> Resource 1 </th>
          <td mat-cell *matCellDef="let element" style="width:100px"> {{element.res_1}} </td>
        </ng-container>

        <ng-container matColumnDef="res_2">
          <th mat-header-cell *matHeaderCellDef style="width:100px"> Resource 2 </th>
          <td mat-cell *matCellDef="let element" style="width:100px"> {{element.res_2}} </td>
        </ng-container>

        <ng-container matColumnDef="sale">
          <th mat-header-cell *matHeaderCellDef style="width:100px"> Sale </th>
          <td mat-cell *matCellDef="let element" style="width:100px"> {{element.sale}} </td>
        </ng-container>

        <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef style="width:200px"> Product </th>
          <td mat-cell *matCellDef="let element" style="width:200px"> {{element.product}} </td>
        </ng-container>

        <ng-container matColumnDef="start_date">
          <th mat-header-cell *matHeaderCellDef style="width:120px"> Start Date </th>
          <td mat-cell *matCellDef="let element" style="width:120px"> {{element.start_date}} </td>
        </ng-container>

        <ng-container matColumnDef="budget">
          <th mat-header-cell *matHeaderCellDef style="width:100px"> Budget (Baht) </th>
          <td mat-cell *matCellDef="let element" style="width:100px"> {{element.budget}} </td>
        </ng-container>

        <ng-container matColumnDef="update_date">
          <th mat-header-cell *matHeaderCellDef style="width:120px"> Update Date </th>
          <td mat-cell *matCellDef="let element" style="width:120px"> {{element.update_date}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="width:300px"> Activity & Next Action </th>
          <td mat-cell *matCellDef="let element" style="width:300px"> {{element.action}} </td>
        </ng-container>

        <ng-container matColumnDef="target_date">
          <th mat-header-cell *matHeaderCellDef style="width:120px"> Target Close Date </th>
          <td mat-cell *matCellDef="let element" style="width:120px"> {{element.target_date}} </td>
        </ng-container>

        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef> Remark </th>
          <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
        </ng-container>



        <ng-container matColumnDef="option" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="text-center" style="width:100px"> Option </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;width:100px">
            <a href="#inputForm">
              <button mat-icon-button color="accent" (click)="selectOpportunity(element)">
                <mat-icon>edit</mat-icon>
              </button>
            </a>
            <button mat-icon-button color="warn" (click)="deleteOpportunity(element.op_id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="selecting.value; sticky: true" style="background: lightseagreen  "></tr>
        <tr mat-row *matRowDef="let row; columns: selecting.value;"></tr>
      </table>

    </div>

    <br>


    <!-- DATA INPUT -->
    <div class="mat-elevation-z8">
      <form [formGroup]="myForm" class="example-container" id="inputForm">
        <br>
        <mat-form-field>
          <input matInput placeholder="Opportunity ID" formControlName="op_id" name="op_id" id="op_id">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Customer Name</mat-label>
          <input matInput formControlName="c_name" [matAutocomplete]="c_auto"
            (focus)="searchCustomer(c_input.value);c_input.select();" (focusout)="checkValue('c_name')"
            (input)="searchCustomer(c_input.value)" #c_input required />
          <mat-autocomplete #c_auto="matAutocomplete" autoActiveFirstOption
            [editable]="!myForm.get('forceSelection').value">

            <mat-option *ngFor="let data of c_selectList | async" [value]="data.c_name">
              {{ data.c_name }}
            </mat-option>
            <mat-option>---</mat-option>
          </mat-autocomplete>
          <mat-error *ngFor="let validation of validation_messages.c_name">
            <mat-error class="error-message"
              *ngIf="myForm.get('c_name').hasError(validation.type)&&(myForm.get('c_name').dirty||myForm.get('c_name').touched)">
              {{validation.message}}</mat-error>
          </mat-error>

        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddCustomerDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>


        <mat-form-field>
          <mat-label>Opportunity Name</mat-label>
          <input matInput formControlName="op_name" [matAutocomplete]="op_auto"
            (focus)="searchOpportunity(op_input.value);op_input.select()" (input)="searchOpportunity(op_input.value)"
            #op_input (focusout)="checkValue('op_name')" required />

          <mat-autocomplete #op_auto="matAutocomplete" autoActiveFirstOption
            [editable]="!myForm.get('forceSelection').value">

            <mat-option *ngFor="let data of op_selectList | async" [value]="data.op_name">
              {{ data.op_name }}
            </mat-option>
            <mat-option>---</mat-option>
          </mat-autocomplete>
          <mat-error *ngFor="let validation of validation_messages.op_name">
            <mat-error class="error-message"
              *ngIf="myForm.get('op_name').hasError(validation.type)||(myForm.get('op_name').dirty||myForm.get('op_name').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content;" color="" mat-fab (click)='openAddOpportunityDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>


        <mat-form-field>
          <mat-label>Status</mat-label>
          <input matInput formControlName="status" [matAutocomplete]="s_auto"
            (focus)="searchStatus(s_input.value);s_input.select()" (input)="searchStatus(s_input.value)" #s_input
            (focusout)="checkValue('status')" required />

          <mat-autocomplete #s_auto="matAutocomplete" autoActiveFirstOption
            [editable]="!myForm.get('forceSelection').value">

            <mat-option *ngFor="let data of s_selectList | async" [value]="data.s_name">
              {{ data.s_name }}
            </mat-option>
            <mat-option>---</mat-option>
          </mat-autocomplete>
          <mat-error *ngFor="let validation of validation_messages.status">
            <mat-error class="error-message"
              *ngIf="myForm.get('status').hasError(validation.type)||(myForm.get('status').dirty||myForm.get('status').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddStatusDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <mat-form-field>
          <mat-label>Presale Resource 1</mat-label>
          <input matInput formControlName="res_1" [matAutocomplete]="ps_auto"
            (focus)="searchPresaleResource(ps_input.value);ps_input.select()"
            (input)="searchPresaleResource(ps_input.value)" #ps_input (focusout)="checkValue('res_1')" required />

          <mat-autocomplete #ps_auto="matAutocomplete" autoActiveFirstOption
            [editable]="!myForm.get('forceSelection').value">

            <mat-option *ngFor="let data of ps_selectList | async" [value]="data.ps_name">
              {{ data.ps_name }}
            </mat-option>
            <mat-option>---</mat-option>
          </mat-autocomplete>
          <mat-error *ngFor="let validation of validation_messages.res_1">
            <mat-error class="error-message"
              *ngIf="myForm.get('res_1').hasError(validation.type)||(myForm.get('res_1').dirty||myForm.get('res_1').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddPresaleResourceDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <mat-form-field>
          <mat-label>Presale Resource 2</mat-label>
          <input matInput formControlName="res_2" [matAutocomplete]="ps2_auto"
            (focus)="searchPresaleResource(ps2_input.value);ps2_input.select()"
            (input)="searchPresaleResource(ps2_input.value)" #ps2_input (focusout)="checkValue('res_2')"/>

          <mat-autocomplete #ps2_auto="matAutocomplete" autoActiveFirstOption
            [editable]="!myForm.get('forceSelection').value">

            <mat-option *ngFor="let data of ps2_selectList | async" [value]="data.ps_name">
              {{ data.ps_name }}
            </mat-option>
            <mat-option>---</mat-option>
          </mat-autocomplete>
          <mat-error *ngFor="let validation of validation_messages.res_2">
            <mat-error class="error-message"
              *ngIf="myForm.get('res_2').hasError(validation.type)||(myForm.get('res_2').dirty||myForm.get('res_2').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddPresaleResourceDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <mat-form-field>
          <mat-label>Sale</mat-label>
          <input matInput formControlName="sale" [matAutocomplete]="am_auto"
            (focus)="searchSale(am_input.value);am_input.select()" (input)="searchSale(am_input.value)" #am_input
            (focusout)="checkValue('sale')" required />

          <mat-autocomplete #am_auto="matAutocomplete" autoActiveFirstOption
            [editable]="!myForm.get('forceSelection').value">

            <mat-option *ngFor="let data of am_selectList | async" [value]="data.am_name">
              {{ data.am_name }}
            </mat-option>
            <mat-option>---</mat-option>
          </mat-autocomplete>
          <mat-error *ngFor="let validation of validation_messages.sale">
            <mat-error class="error-message"
              *ngIf="myForm.get('sale').hasError(validation.type)||(myForm.get('sale').dirty||myForm.get('sale').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddSaleDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <mat-form-field>
          <mat-label>Product</mat-label>
          <input matInput formControlName="product" [matAutocomplete]="p_auto"
            (focus)="searchProduct(p_input.value);p_input.select()" (input)="searchProduct(p_input.value)" #p_input
            (focusout)="checkValue('product')" required />

          <mat-autocomplete #p_auto="matAutocomplete" autoActiveFirstOption
            [editable]="!myForm.get('forceSelection').value">

            <mat-option *ngFor="let data of p_selectList | async" [value]="data.p_name">
              {{ data.p_name }}
            </mat-option>
            <mat-option>---</mat-option>
          </mat-autocomplete>
          <mat-error *ngFor="let validation of validation_messages.product">
            <mat-error class="error-message"
              *ngIf="myForm.get('product').hasError(validation.type)||(myForm.get('product').dirty||myForm.get('product').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddProductDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <!--------- INPUT FORM WITH SELECTION LIST (NO AUTOCOMPLETE) ---------->

        <!--         <mat-form-field>
          <mat-select placeholder="Customer Name" formControlName="c_name" name="c_name" id="c_name" required>
            <mat-option>---</mat-option>
            <mat-option *ngFor="let c of Icustomer" [value]="c.c_name">
              {{c.c_id}} : {{c.c_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.c_name">
            <mat-error class="error-message"
              *ngIf="myForm.get('c_name').hasError(validation.type)||(myForm.get('c_name').dirty||myForm.get('c_name').touched)">
              {{validation.message}}</mat-error>
          </mat-error>

        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddCustomerDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <mat-form-field>
          <mat-select placeholder="Opportunity Name" formControlName="op_name" name="op_name" id="op_name" required>
            <mat-option>---</mat-option>
            <mat-option *ngFor="let op of Iopportunity" [value]="op.op_name">
              {{op.op_id}} : {{op.op_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.op_name">
            <mat-error class="error-message"
              *ngIf="myForm.get('op_name').hasError(validation.type)||(myForm.get('op_name').dirty||myForm.get('op_name').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content;" color="" mat-fab (click)='openAddOpportunityDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <mat-form-field>
          <mat-select placeholder="Status" formControlName="status" name="status" id="status" required>
            <mat-option>---</mat-option>
            <mat-option *ngFor="let s of Istatus" [value]="s.s_name">
              {{s.s_id}} : {{s.s_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.status">
            <mat-error class="error-message"
              *ngIf="myForm.get('status').hasError(validation.type)||(myForm.get('status').dirty||myForm.get('status').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddStatusDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <mat-form-field>
          <mat-select placeholder="Resource 1" formControlName="res_1" name="res_1" id="res_1" required>
            <mat-option>---</mat-option>
            <mat-option *ngFor="let ps of Ipresale_resource" [value]="ps.ps_name">
              {{ps.ps_id}} : {{ps.ps_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.res_1">
            <mat-error class="error-message"
              *ngIf="myForm.get('res_1').hasError(validation.type)||(myForm.get('res_1').dirty||myForm.get('res_1').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddPresaleResourceDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <mat-form-field>
          <mat-select placeholder="Resource 2" formControlName="res_2" name="res_2" id="res_2">
            <mat-option>---</mat-option>
            <mat-option *ngFor="let ps of Ipresale_resource" [value]="ps.ps_name">
              {{ps.ps_id}} : {{ps.ps_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.res_2">
            <mat-error class="error-message"
              *ngIf="myForm.get('res_2').hasError(validation.type)||(myForm.get('res_2').dirty||myForm.get('res_2').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddPresaleResourceDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <mat-form-field>
          <mat-select placeholder="Sale" formControlName="sale" name="sale" id="sale" required>
            <mat-option>---</mat-option>
            <mat-option *ngFor="let am of Isale" [value]="am.am_name">
              {{am.am_id}} : {{am.am_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.sale">
            <mat-error class="error-message"
              *ngIf="myForm.get('sale').hasError(validation.type)||(myForm.get('sale').dirty||myForm.get('sale').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddSaleDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button>

        <mat-form-field>
          <mat-select placeholder="Product" formControlName="product" name="product" id="product" required>
            <mat-option>---</mat-option>
            <mat-option *ngFor="let p of Iproduct" [value]="p.p_name">
              {{p.p_id}} : {{p.p_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngFor="let validation of validation_messages.product">
            <mat-error class="error-message"
              *ngIf="myForm.get('product').hasError(validation.type)||(myForm.get('product').dirty||myForm.get('product').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <button style="width:fit-content;height: fit-content" color="" mat-fab (click)='openAddProductDialog()'>
          <mat-icon>add_circle_outline</mat-icon>
        </button> -->

        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Start Date" type="datetime"
            formControlName="start_date" name="start_date" id="start_date" required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngFor="let validation of validation_messages.start_date">
            <mat-error class="error-message"
              *ngIf="myForm.get('start_date').hasError(validation.type)||(myForm.get('start_date').dirty||myForm.get('start_date').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Budget" type="number" formControlName="budget" name="budget" id="budget"
            required>
          <mat-error *ngFor="let validation of validation_messages.budget">
            <mat-error class="error-message"
              *ngIf="myForm.get('budget').hasError(validation.type)&&(myForm.get('budget').dirty||myForm.get('budget').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Update Date" type="datetime"
            formControlName="update_date" name="update_date" id="update_date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngFor="let validation of validation_messages.update_date">
            <mat-error class="error-message"
              *ngIf="myForm.get('update_date').hasError(validation.type)||(myForm.get('update_date').dirty||myForm.get('update_date').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Activity & Next Action" type="text" formControlName="action" name="action"
            id="action"></textarea>
          <mat-error *ngFor="let validation of validation_messages.action">
            <mat-error class="error-message"
              *ngIf="myForm.get('action').hasError(validation.type)||(myForm.get('action').dirty||myForm.get('action').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker3" placeholder="Close Target Date" type="datetime"
            formControlName="target_date" name="target_date" id="target_date">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
          <mat-error *ngFor="let validation of validation_messages.target_date">
            <mat-error class="error-message"
              *ngIf="myForm.get('target_date').hasError(validation.type)||(myForm.get('target_date').dirty||myForm.get('target_date').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Remark" type="text" formControlName="remark" name="remark"
            id="remark"></textarea>
          <mat-error *ngFor="let validation of validation_messages.remark">
            <mat-error class="error-message"
              *ngIf="myForm.get('remark').hasError(validation.type)||(myForm.get('remark').dirty||myForm.get('remark').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <a href="#mainTable">
          <button mat-raised-button color="primary" (click)="createOrUpdateOpportunity(myForm)"
            [disabled]="!myForm.valid" style="width: fit-content;">Add
            Or Update Opportunity</button>
        </a>
      </form>
      <br>

    </div>

  </div>




</body>

</html>