
.mat-header-cell.text-center { text-align: center; }

.example-container {
    
    text-align: center;
    overflow: auto;
  }
  
  .example-container > * {
    max-width:800px;
  
  }



.inputForm{
  padding-left: 10%;
  padding-right: 10%;
  max-width: 800px;
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


table {
  width: 100%;
  table-layout: fixed;
}
