<h2 mat-dialog-title>CREATE NEW SALE DATA</h2>
  <mat-dialog-content [formGroup]="am_myForm" class="example-container">

    <mat-form-field>
      <input matInput placeholder="Sale ID" formControlName="am_id" name="am_id" id="amm_id">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Sale Name" type="text" formControlName="am_name" name="am_name"
        id="am_name" required>
        <mat-error *ngFor="let validation of validation_messages.am_name">
          <mat-error class="error-message"
            *ngIf="am_myForm.get('am_name').hasError(validation.type)&&(am_myForm.get('am_name').dirty||am_myForm.get('am_name').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Sale Email" type="text" formControlName="am_email" name="am_email"
        id="am_email" required>
        <mat-error *ngFor="let validation of validation_messages.am_email">
          <mat-error class="error-message"
            *ngIf="am_myForm.get('am_email').hasError(validation.type)&&(am_myForm.get('am_email').dirty||am_myForm.get('am_email').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    
  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button color="primary" (click)="createSale(am_myForm)" [disabled]="!am_myForm.valid"
      style="width: fit-content;">Add Sale
    </button>
  <br>
</mat-dialog-actions>