<h2 mat-dialog-title>CREATE NEW PRODUCT DATA</h2>
  <mat-dialog-content [formGroup]="p_myForm" class="example-container">

    <mat-form-field>
      <input matInput placeholder="Product ID" formControlName="p_id" name="p_id" id="p_id">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Product Name" type="text" formControlName="p_name" name="p_name"
        id="p_name" required>
        <mat-error *ngFor="let validation of validation_messages.p_name">
          <mat-error class="error-message"
            *ngIf="p_myForm.get('p_name').hasError(validation.type)&&(p_myForm.get('p_name').dirty||p_myForm.get('p_name').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    
  </mat-dialog-content>

  <mat-dialog-actions>

    <button mat-raised-button color="primary" (click)="createProduct(p_myForm)" [disabled]="!p_myForm.valid"
      style="width: fit-content;">Add Product
    </button>
  <br>
</mat-dialog-actions>